/*Основные стили*/

@font-face {
  font-family: 'Spectral';
  src: url(../fonts/Spectral-Bold.ttf) format(truetype);
  font-weight: 700;
  font-style: normal;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

/*Стили блока "Шапка"*/

.header {
  display: flex;
  flex-direction: row;
  height: 110px;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-list-item {
  padding: 0 25px;
  font-size: 14px;
}

.banner {
  background-image: url('../images/Rectangle1.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 850px;
  display: flex;
  align-items: center;
}

.banner-content {
  color: white;
  background-color: rgba(52, 198, 189, 0.8);
  width: 100%;
}

.banner-content-title {
  font-family: 'Spectral';
  font-size: 48px;
  line-height: 42px;
  text-align: center;
}

.banner-content-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
}
.about {
  background-image: url('../images/3250580.jpg');
}

.about-container {
  height: 368px;
  padding: 145px 250px 172px 270px;
}

.about-title {
  font-family: 'Spectral';
  font-size: 48px;
  line-height: 73px;
  color: #312c3a;
}
.about-content {
  display: flex;
}

.about-content-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: justify;

  color: #896f50;
  background-color: white;
  padding: 26px 34px 18px 30px;
  width: 546px;
  height: 124px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  z-index: 998;
  margin-left: -50px;
}

.about-content-img {
  z-index: 999;
  margin-top: -35px;
  margin-left: 10px;
}

.about-content-link {
}
